html, body {
    margin: 0;
    padding: 0;
}

header {
    padding-left: 125px;
    font-size: larger;
}

header > h1 {
    margin-bottom: 5px;
}

header > p {
    margin-top: 5px;
}

#breadcrumbs {
    background-color: #ff4852;
    color: white;
    font-size: larger;
    height: 5em;
    line-height: 5em;
    padding-left: 125px;
}

footer {
    display: flex;
    padding-left: 125px;
    padding-right: 125px;
    background-color: #110c1c;
}

footer > * {
    flex: 1;
}

.footer-elem > * {
    color: white;

}

.sort {
    display: flex;
    justify-content: space-between;
    padding-left: 125px;
    padding-bottom: 25px;
    padding-right: 25px;
}
